/*
 * Make the appearance to look like a plain text
 * but keep the padding and margin around it
 */
.button.js\:user,
.button.js\:user:focus,
.button.js\:user:hover,
.button.js\:user:active {
  color: inherit;
  text-shadow: none;
  background: none;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  cursor: auto;
  user-select: text;
}
.comments,
.comments-body,
.comments-footer,
.comments-header {
  margin: 0;
}
.comments,
.comments-body,
.comments-body .comment-form,
.comments-footer,
.comments-pager {
  margin-top: 2em;
}
.comments-pager {
  text-align: center;
}
.comments-pager b {
  font-weight: normal;
}
.comments-pager > span {
  margin-right: .25em;
}
.comments-pager > span:last-child {
  margin-right: 0;
}
li.comment,
ul.comments {
  margin: 0;
  padding: 0;
  list-style: none;
}
li.comment::after {
  content: "";
  display: table;
  clear: both;
}
ul.comments {
  margin-top: -1em;
}
ul.comments ul.comments {
  clear: both;
  margin-top: 0;
}
li.comment {
  padding-top: 1em;
  position: relative;
  word-wrap: break-word;
}
li.comment ul.comments,
li.comment .comment-form {
  margin-bottom: 1em;
}
.comment-body,
.comment-figure,
.comment-footer,
.comment-header {
  margin: 0;
  clear: none;
}
.comment-body::after,
.comment-figure::after,
.comment-footer::after,
.comment-header::after {
  content: "";
  display: table;
  clear: both;
}
.comment-links,
.comment-links li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comment-links::after {
  content: "";
  display: table;
  clear: both;
}
.comment-links li {
  display: block;
  float: left;
}
.comment-links li::after {
  content: '\00B7';
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
}
.comment-links li:last-child::after {
  display: none;
}
.comment-links .comment-link {
  display: inline-block;
  vertical-align: middle;
}
.comment-figure + .comment-header,
.comment-figure + .comment-header + .comment-body,
.comment-figure + .comment-header + .comment-body + .comment-footer,
.comment-figure + .comment-header + .comment-body + .comment-footer + ul.comments {
  margin-left: 5.5em;
}
.comment-body,
.comment-footer {
  margin-top: .5em;
}
.comment-figure {
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  top: 1.2em; /* `padding-top` + `.2em` */
  bottom: 0;
  left: 0;
}
.comment-avatar {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .05);
  border: 0;
  outline: 0;
}
.comment-author,
.comment-meta {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-shadow: inherit;
}
.comment-author {
  float: left;
}
.comment-meta {
  float: right;
}
.comment-url::before {
  content: '#';
}
.comment-form {
  clear: both;
}
.comment-form h3 {
  margin-bottom: 1rem;
}
.comment-form > p,
.comment-form > .p {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}
.comment-form > p + p,
.comment-form > p + .p,
.comment-form > .p + p,
.comment-form > .p + .p {
  margin-top: 1em;
}
.comment-form > p > *,
.comment-form > .p > * {
  display: table-cell;
  vertical-align: top;
}
.comment-form p > label,
.comment-form .p > label {
  width: 5.5em;
  padding-right: 1em;
  text-align: right;
}
.comment-form p > label + br,
.comment-form .p > label + br {
  display: none;
}
.comment-form p > label:not([for]),
.comment-form .p > label:not([for]) {
  visibility: hidden;
}
.comment-form .alert,
.comment-form .alert p,
.comment-form .alert .p {
  display: block;
  width: auto;
}
.comment-form .button,
.comment-form .input,
.comment-form .select,
.comment-form .textarea {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.comment-form .width {
  display: block;
  width: 100%;
}
.comment-form .button + br,
.comment-form .input + br,
.comment-form .select + br,
.comment-form .textarea + br {
  display: none;
}
.comment-form .button + br + small,
.comment-form .input + br + small,
.comment-form .select + br + small,
.comment-form .textarea + br + small {
  display: block;
  margin-top: .5em;
}
.comment-form + .comment-footer,
.comment-form .js\:cancel {
  display: none;
}
.comment-form.is\:reply .js\:cancel {
  display: inline-block;
}

@media (max-width: 730px) {
  .comment-author,
  .comment-meta {
    float: none;
  }
  .comment-meta {
    margin-bottom: .5em;
  }
}

@media (max-width: 450px) {
  .comment-figure + .comment-header + .comment-body + .comment-footer + ul.comments {
    margin-left: 1em;
  }
}
